/*No hay mucho que comentar, salvo que estos son los estilos para la página Extra.html*/
body{
	background-image:url(fondo.jpg);
	color:white;
}

a{
	color:lightblue;
	text-align:center;
}

table{
	border:1px solid;
	border-style:hidden;
	margin:0 auto;
	background-image:url(tablas.jpg);
}

#tab1{
	float:left;
	border:1px solid;
	padding:3px;
	width:265px;
	margin:30px;
	border-radius:10px;
}

#separador{
	float:left;
	border:none;
	padding:3px;
	width:150px;
	margin:30px;
	background-image:none;
}

#tab2{
	float:left;
	border:1px solid;
	padding:3px;
	width:200px;
	margin:30px;
	border-radius:10px;
}

#tab3{
	border:1px solid;
	float:left;
	padding:3px;
	width:276px;
	margin:30px;
	border-radius:10px;
	align-self:center;
}

#atras{
	border-radius:30px;
}

#pie .nombre{ float:left; }
#pie .copyright{ float:right; }
