/*No hay mucho que comentar, salvo que estos son los estilos para la página Trabajo final.html. Está bastante ordenado. Con esto me refiero a quen en el orden en el que aparecen en el HTML*/
#buscar{
	float:right;
}
h1{
	color:blue;
}
a{
	color:darkblue;
}

#cabeza{
	border:2px solid;
	border-radius:10px;
	margin-right:330px;
	background-color:lightblue;
}

#cabeza p{
	color:black;
}

aside{
	border:2px solid;
	border-radius:10px;
	float:right;
	width:22%;
 	padding-left:15px;
	margin-left:15px;
}

#Whatsapp a{
	color:darkgreen;
}

#Facebook a{
	color:darkblue;
}

#Twitter a{
	color:lightblue;
}

#Instagram a{
	color:orange;
}

#TikTok a{
	color:#FF0070;
}

#Youtube a{
	color:red;
}

#pie{ margin-bottom:0px; }
#pie .nombre{ float:left; }
#pie .copyright{ float:right; }

#extra{
	float:left;
	border-radius:30px;
	margin-right:20em;
}

#google{
	float:left;
	border-radius:30px;
	margin-right:20em;
}

#cuerpo{
	border:2px solid;
	border-radius:10px;
	background-color:lightblue;
}
